[2015-11-22 20:15] rgrempel opened #1 "Initial organizational work"
Greetings, @elm-community/manifesto

So, thanks for accepting the invitation to join this little enterprise -- I hope this ends up being a useful way of doing some collaborative things.

In order to move organizational discussion and documentation away from the forums (which was a great start), I've created a 'Manifesto' repository. I've put up an initial [README](https://github.com/elm-community/

[2015-11-22 20:17] rgrempel commented on #1
I managed to get the [README](https://github.com/elm-community/Manifesto) link wrong at first -- I've corrected it now :-)

[2015-11-23 03:47] mgold commented on #1
This all sounds good, but let's not get too caught up in "doing work about work". (I recognize that in large companies, "work about work" is very necessary, but for a few people in open source, let's cut to the chase.)

You can also have a look at [this thread](https://github.com/NoRedInk/elm-random-extra/pull/2#issuecomment-158845895) to see discussion of who should take ownership and maintenance

[2015-12-07 21:40] rgrempel opened #2 "elm-webgl and elm-linear-algebra"
A couple of additional packages are possibly orphans as far as updating to Elm 0.16 goes:

https://github.com/elm-lang/package.elm-lang.org/issues/143

This is just a reminder to me to check in later to see what the status of this is.

[2015-12-17 07:31] rgrempel opened #3 "Relationship with elm-guides"
@mgold (and others), I made @fredcy a member here for the sake of https://github.com/fredcy/elm-faq and given the discussion on the mailing list.

Is this the right place for that, compared with https://github.com/elm-guides? I had forked the repositories from elm-guides to here, based on the discussion of merging the two. But, I don't want to do anything high-handed, if you know what I mean :-)

[2015-12-17 15:00] fredcy commented on #3
I am happy to put the elm-faq here (as opposed to elm-guides) if it's agreed that that's OK to do. I'll hold off until I see some confirmation (or timeout with no discussion).

[2015-12-17 15:47] mgold commented on #3
Seems reasonable to me. You'd have to ask @jamischarles about how he feels shutting down elm-guides in favor of elm-community. But I personally would like to have a centralized third-party community, provided it doesn't become a cartel. That means giving out write access fairly liberally (perhaps to anyone who submits a good PR, and then asks), and admin access to... more than one person.

I think

[2015-12-17 16:13] fredcy commented on #3
OK, I pulled the trigger and forked my elm-faq repo into elm-community. I plan to maintain it here in its new home.

[2015-12-17 19:04] rgrempel commented on #3
I just sent @jamischarles an invitation to be a member here -- not to pre-empt how he'd like to handle thing, but just to facilitate whatever he'd like to do.

[2015-12-19 00:14] fredcy commented on #2
Let's do it. I submitted a [PR](https://github.com/johnpmayer/elm-linear-algebra/pull/14) 17 days ago to update elm-linear-algebra to 0.16 and there has been no response.

[2015-12-19 02:32] rgrempel commented on #2
I've just sent @johnpmayer an email, asking how he wants to proceed. It really would be easier if we don't have to convince Evan to change the whitelist, so let's see if I get a reply to the email.

[2015-12-19 17:13] pdamoc opened #4 "Collective Code Construction Contract - C4.1"
I propose that the elm-community adopt a clear and explicit contract for all projects hosted here.

I propose that this contract be modeled after the ZeroMQ RFC 22:
[Collective Code Construction Contract - C4.1](http://rfc.zeromq.org/spec:22)

I propose that the forks be relicensed under MPLv2 if the original was MIT.

I propose we add a section that explicitly states that the Native projects host

[2015-12-19 17:49] pdamoc opened #5 "Request For Coments / Best Current Practice"
I propose that we have an explicit RFC style mechanism that should distill the best practices in Elm programming.

A BCP for Style Guide for Elm source code could be a prime candidate.

A BCP for folder structure and elm-package.json details of a project could be another useful document

The Collective Code Construction Contract could be another BCP.

[2015-12-19 18:07] rgrempel commented on #4
Can you comment on the differences between the MPLv2 and the MIT licences? What problems would relicensing solve, in your view?

The ZeroMQ C4.1 looks generally attractive to me, but I wonder what else is out there -- someone initially raised the ZeroMQ model, so we've sort of focused on that, but I wonder whether there are other models we should consider? Not that we necessarily need an exhaustiv

[2015-12-19 18:19] rgrempel commented on #5
This could, I think, fit with the 'Guides' mandate here.

I suppose my one hesitation would be something like this. Part of the method of @elm-community (as a Github organization) is to be unofficial. There is, after all, @elm-lang for official things.

So, I wouldn't want @elm-community to become too focused on sorting out the "best" from the "very good", if you know what I mean.

But, that does

[2015-12-19 18:25] pdamoc commented on #4
I've read Pieter Hintjens argumentation [here](http://zguide.zeromq.org/page:chapter6#Eat-Me) and it made sense to me. I think MPLv2 might encourage more contribution.

I too wonder what else is there in terms of community architecture. Maybe some else can provide an alternative.

Regarding Native whitelisting, maybe I should be more forthcoming and admit that I am not familiar with the internals

[2015-12-19 18:46] pdamoc commented on #5
I understand your concerns and I fully agree. Normally, this kind of effort would be in @elm-lang next to projects like elm-format.

I was thinking that maybe elm-community could be the vanguard of Elm, exploring new territory.

[2015-12-19 19:02] rgrempel commented on #5
I do think the "vanguard" idea fits -- it's one of the advantages of being unofficial -- you can experiment a bit more if the stakes aren't as high as they are for the official project.

I guess the other question is what, tangibly, we need to do to start collecting BCP's. Would you see it as being a wiki? Or individual repositories? Or one repository with sub-folders? Or something else? We also h

[2015-12-19 19:37] fredcy commented on #5
If elm-faq should restructured to some other UI I'm fine with that. Carrying over the github-pages / jekyll format was the easy way to start.

[2015-12-19 19:48] pdamoc commented on #5
I think that Requests For Comments style documents might be the most appropriate.

It makes for an easier and more search friendly shortcut... like PEP-8 or PEP-20 are for Python.

Maybe find some Elm specific memorable three-letter-acronym like ECO (Elm Community Outline). The idea being that ECO is a document produced by the Elm Community that Outlines some best practice. :)

[2015-12-19 22:51] rgrempel commented on #5
I think elm-faq is good as it is -- it's a very pleasing UI for shorter, more focused topics. Whereas the ECOs would tend to be longer documents.

So, what I'm tentatively thinking is that we might create a repository for ECOs, and then we can work out what the documents look like and how they get presented / organized. For instance, at first they might be in markdown format, so Github would basic

[2015-12-20 01:21] mgold commented on #5
At least when starting out, we could keep ECOs in a folder in this repo. But even that seems to be putting the cart before the horse -- let's try out a few community guidelines or discussions and see what we can learn in order to distill a formal process. We might not need one.

I do think that a style guide would be a good thing. The [official one](http://elm-lang.org/docs/style-guide) is incompl

[2015-12-20 22:44] #1 closed

[2015-12-20 22:46] rgrempel opened #6 "Additional owners"
I'm going to be away for the next week, without Internet access. (We're going somewhere very sunny for Christmas this year). So, in the interest of avoiding anything blocking needlessly, I've arbitrarily appointed @mgold and @Apanatshka to be "owners" of @elm-community (in Github terms).

[2015-12-20 23:11] rgrempel commented on #2
Well, I haven't got any response, so I guess we'd best go down this road.

So, I've cloned elm-webgl and elm-linearalgebra, and given @fredcy and @nphollon collaborator status on them -- that should give you the rights to commit changes, merge pull requests etc. If you could figure out between the two of you what needs to be done, that would be great.

I should say that it's not inevitable that Ev

[2015-12-21 01:21] mgold commented on #6
Sweet, thanks!

[2015-12-21 02:05] rgrempel commented on #4
As far as the licence goes, I think we should keep it in mind but not necessarily be too rigid about it. I say that for two reasons:
- Nothing we're hosting here (yet) is so intrinsically complex as to require too much worry about forks -- that is, it's nice to be able to cooperate on this stuff, but none of it is so complex (yet) that we'd be sorry to lose control of it. But, I suppose there coul

[2015-12-22 17:17] fredcy opened #7 "Add a DateTime package?"
There has been discussion on elmlang.slack.com about putting a DateTime package on elm-community. That makes sense to me and I hope that would be a stepping stone to getting solid DateTime functionality into packages.elm-lang. Thinking of my Python experience with custom web apps, the datetime packages are essential and among my most-used.

So, does this make sense and, if so, what is the next ste

[2015-12-22 19:07] mgold commented on #7
Hmm, this would be the first time the community would be writing a package from scratch, rather than maintaining one. The only time-related package out there is [mine](http://package.elm-lang.org/packages/mgold/elm-date-format/1.0.4/), for date and time formatting. If it could be expanded into something larger, I'm okay with the community taking it over. (If you just want to fix a bug or add more

[2015-12-22 19:11] lukewestby commented on #7
I started the conversation from looking into reimplementing Moment in Elm since there seems to be some demand, and it became apparent pretty quickly that doing so would amount to building a new DateTime package entirely. I was going to start on my own but figured a community driven effort would be more thorough and result in higher quality.

[2015-12-22 21:27] fredcy commented on #2
I submitted https://github.com/elm-community/elm-linear-algebra/pull/1 to update elm-linear-algebra to run on elm 0.16.

@nphollon, per suggestion from @rgrempel I am not merging my own PR. Would you please look at it and either merge it or comment about what you would rather do.

P.S. We don't have issue tracking enabled for elm-linear-algebra. I think we should.

[2015-12-22 21:28] fredcy commented on #2
Nevermind, @mgold is quick.

[2015-12-22 21:52] mgold commented on #2
Yeah, no reason not to have our fork up to date, but it doesn't much matter until either the native whitelist gets updated or John merges his PR.

Alternatively, could we write a script to clone our repo and pretend it was John's?

[2015-12-23 02:31] nphollon commented on #2
Agree with @fredcy about having issue tracking enabled for both repos.

@mgold I am not quite clear what kind of script you're thinking about, but I don't think it's possible to impersonate a different repo (for instance by changing elm-package.json). `elm package publish` checks for the correctly tagged version on github before publishing anything.

Thanks everybody for being on top of this... I'

[2015-12-23 04:34] mgold commented on #2
My idea was to bypass `elm-package`, just a shell script to download the elm-community repo into `elm-stuff`. I don't think that any enforcement of who's allowed to use native modules is done once the packages are installed.

[2015-12-23 06:47] nphollon commented on #2
Ah, that makes much more sense. Sounds like it might be worthwhile, considering all work on elm-webgl is blocked without a 0.17-compatible version of elm-linear-algebra.

Should we go ahead and open a native review for elm-community/elm-linear-algebra?

[2015-12-23 06:52] jvoigtlaender commented on #2
Yes, I'd say: Open native review requests for elm-community/elm-linear-algebra and elm-community/elm-linear-algebra if/when they are updated to 0.16. There is reasonable hope that they might get fast-tracked for whitelisting, given Evan's recognition that they are kind of "urgently" needed, in [this comment of his](https://github.com/elm-lang/elm-lang.org/issues/462#issuecomment-166230270).

[2015-12-23 07:03] nphollon commented on #2
One more concern... `elm package publish` will want us to restart at 1.0.0. In order to do this, we'll need to trash the existing version tags, which AFAIK is possible but frowned-upon. What's the least stupid way of doing this?

[2015-12-23 15:11] mgold commented on #2
Having forked a repo before, just go ahead and trash the old tags. They're local to the fork so it's not catastrophic. Not pleasant, but it's what needs to happen.

[2015-12-23 15:13] mgold commented on #2
You'll also need to reset the version in `elm-package.json` to 1.0.0. `elm package bump` will do this automatically now that the repo owner has been updated.

Also I enabled issues in the repo, so we can continue discussing over there if needed.

[2015-12-23 17:27] nphollon commented on #2
@mgold Could you please enable issue tracking for elm-webgl as well? Thanks

[2015-12-26 16:48] lukewestby commented on #7
Hey folks, any thoughts on what we should plan to do? I have some time the next couple of days that I was hoping to spend on this. I can start things off in my own repo and add folks as they express interest and we can move it over here later if we're not ready to begin a project in elm-community. I figure there probably needs to be some amount of discussion about what it would look like to start

[2015-12-26 19:48] mgold commented on #7
Why don't you go ahead and try to write the package on your own? At the very least you can report back with what _didn't_ work. You can also try to come up with a desired list of features, or an API even if it's unimplemented.

[2015-12-27 01:43] lukewestby commented on #7
Sweet! Thanks @mgold for the quick response. I've got a nice 12-hour car ride to build things out tomorrow so I'll report back this weekend with some results. Would either you or @fredcy like to be added to the repo?

[2015-12-27 16:52] mietek commented on #2
Thanks for taking care of this.

[2015-12-28 04:31] johnpmayer commented on #2
Happy Holidays!

Is there anything I can do to unblock this? At this point, I can't be the maintainer for a library with more than one user :smirk:

Would updating the README on my repositories to point to the elm-community forks be best?

[2015-12-28 05:01] nphollon commented on #2
If you could put a note in the READMEs, that would be really helpful. Thanks! Sorry you won't be able to keep maintaining

Our big blocker right now is the native review...
https://github.com/elm-lang/package.elm-lang.org/issues/149

[2015-12-28 05:08] mgold commented on #2
@johnpmayer Would it be okay if you added someone, probably @nphollon, as a collaborator on your native-approved repo? That way we could handle updates and README notices ourselves.

[2015-12-30 11:26] Apanatshka commented on #6
Thanks. Just a warning though: I'm extremely busy and have turned off GitHub's notifications, so I will be very slow to help out at the moment. Now that I know, I'll try to check my GitHub notifications at least once a week.

[2016-01-12 22:56] nphollon commented on #2
They are released!

http://package.elm-lang.org/packages/elm-community/elm-linear-algebra/latest/
http://package.elm-lang.org/packages/elm-community/elm-webgl/latest/

@rgrempel I think we can close this now?

[2016-01-12 23:08] mgold commented on #2
Yay!

[2016-01-26 22:58] fredcy opened #8 "Relationship with elm-hub"
There is now https://github.com/elm-hub that seems to have a mission overlapping that of elm-community. Perhaps we could reach out to see if we can join forces.

[2016-01-26 23:22] mgold commented on #8
Seems to be just one guy. Someone want to take the lead?

[2016-01-27 17:40] fredcy commented on #8
I chatted with him on the Slack channel. He said that he contacted someone here at elm-community a while back but got little response.

[2016-02-12 23:45] #2 closed

[2016-02-16 21:19] fredcy opened #9 "Landing page for http://elm-community.github.io/"
I suggest that we create a simple (at the least) landing page at http://elm-community.github.io/ that links to https://github.com/elm-community and to the individual documentation projects comprised by elm-community.

[2016-02-22 19:02] lukewestby opened #10 "Fork circuithub/elm-json-extra?"
I've had a PR open there with no comment for 4 weeks, and the last activity was 2 months ago. There's a lot of really useful stuff in there, not the least of all `(|:)`, and I would imagine the community is interested in continuing to improve it. Thoughts?

[2016-02-22 19:08] lukewestby commented on #7
this can probably be closed, https://github.com/rluiten/elm-date-extra takes care of all of this

[2016-02-22 19:10] mgold commented on #10
Seems reasonable to me. I'd like to rename `apply` to `andMap`.

[2016-02-22 19:12] lukewestby commented on #10
Good deal, forked!

[2016-02-22 19:12] #10 closed

[2016-02-26 16:42] fredcy commented on #9
I created a simple landing page at http://elm-community.github.io/.

[2016-02-26 16:42] #9 closed

[2016-02-26 16:43] fredcy commented on #7
It does look like elm-date-extra has this covered, so I'm closing this.

[2016-02-26 16:43] #7 closed

[2016-02-26 16:45] fredcy commented on #8
This seems to be going nowhere. I'm abandoning my request.

[2016-02-26 16:45] #8 closed

[2016-02-26 16:55] mgold opened #11 "Tranfer of -extra repos from CircuitHub"
Following [this mailing list thread](https://groups.google.com/d/msg/elm-discuss/wJPvZUql6v0/RYUlCrrSFQAJ), I sent @rehno-lindeque sent me the following email.

And then a list of people.

How does everyone feel about how to manage this?

[2016-02-26 16:59] lukewestby commented on #11
Third option seems best to me. I'll delete the fork of json-extra so it doesn't get in the way of this. It wasn't published and there was no new activity anyway.

[2016-02-26 16:59] eeue56 commented on #11
Migrate repos to github, but don't publish til 0.17

[2016-02-26 17:06] fredcy commented on #11
Option 3 sounds good. Perhaps we should try it with one of the least-used packages first to make sure that elm-package works fine afterwards. And will elm-package handle the missing repo gracefully enough between when the repo is transferred and when circuithub forks it back again?

[2016-02-26 17:15] lukewestby commented on #11
It looks like github sets up a redirect at least for a repo's webpage when its ownership is transferred. For example, opening https://github.com/lukewestby/builtwithelm will take you to the repo in this org.

[2016-02-26 17:22] mgold commented on #11
Okay, so that's
- Test with a less popular repo first
- Transfer ownership to this org, which sets up a redirect so nothing breaks
- Keep the tags so those don't break
- Update and release 1.0.0 when 0.17 drops

[2016-02-26 17:25] eeue56 commented on #11
It won't even break `elm-package` from downloading things thanks to the redirect also working for zips, so that's good

[2016-03-08 11:19] rehno-lindeque commented on #11
Ok, great! Sorry, I missed this issue. [elm-function-extra](https://github.com/circuithub/elm-function-extra) looks like the least recently updated one. I'll give that one a go...

[2016-03-08 11:25] rehno-lindeque commented on #11
I've hit a small snag:
<img width="1536" alt="screen shot 2016-03-08 at 11 27 22 am" src="https://cloud.githubusercontent.com/assets/337811/13600401/775e7eaa-e520-11e5-89c2-b0bdcc0dc5c7.png">

[2016-03-08 14:43] mgold commented on #11
@rehno-lindeque I've just invited you and given you owner permissions, which means I'm obligated to say something along the lines of don't abuse it and keep your account secure.

[2016-03-09 13:08] rehno-lindeque commented on #11
Ok, followed those steps for `elm-function-extra`. I also did a quick bit of cleanup - for posterity:

[code]

[2016-03-09 13:25] eeue56 commented on #11
To test:
- install under old name
- install under new name (should fail)
- publish under new name (should fail)
- check out each tag and publish at that tag (should pass, start at 1.0.0)
- install under new name

[2016-03-09 13:26] eeue56 commented on #11
After that, migration can be considered successful

[2016-03-09 13:32] rehno-lindeque commented on #11
So, I did end up forking the package to CircuitHub as well, fyi. So existing packages should work.

I think all that is left for elm-community might be something in the lines of:

[code]

[2016-03-09 13:33] eeue56 commented on #11
Oh, I see,you republished as 1.0.0? Hmm, I think it is best to keep older versions after the migration.

[2016-03-09 14:27] mgold commented on #11
elm-community's version will be considered a separate package, and therefore must start at 1.0.0.

It looks like Rehno has not deleted the tags yet. I also notice that this package hasn't been updated for 0.16, which means it's unlikely to break things, but also that the audience is small or nonexistent.

The best course of action is probably to keep the tags CircuitHub's fork. Again it probably w

[2016-03-09 14:32] jvoigtlaender commented on #11
I'm pretty sure that @eeue56 is well aware of that, and that it's because of this that he suggested:
- check out each tag and publish at that tag (should pass, start at 1.0.0)

This way, _of course_ the package will start at 1.0.0, but nevertheless all versions will be preserved in the exact same way as they were under the previous user name.

[2016-03-09 14:41] mgold commented on #11
Okay, fine. I was a little confused about his other comment, right before mine, but I see that is now referring to circuit-hub's copy.

[2016-03-09 14:45] eeue56 commented on #11
On train but will write up what I think best practice is and my reasoning in a bit.

[2016-03-09 15:26] eeue56 commented on #11
So, this is what I believe is best practice:
- When migrating a package, the old package repo does not need to exist. Github will set up the redirects. So there is no need for forking in order to maintain packages. See [here](https://github.com/blog/1508-repository-redirects-are-here) for more information on redirects. It's fine if you want to fork it back to the original, but there's no need for

[2016-03-09 15:54] mgold commented on #11
The nicest solution to bullet number 2 would be able to do something like `elm package diff circuit-hub/elm-function-extra 1.2.2 elm-community/elm-function-extra 1.0.0`. As it stands you can only diff against one package. When `elm-community` publishes 1.0.0 but retains 1.2.2, which was never published under elm-community... at best your diff will be backwards, because 1.0.0 is _newer_ than 1.2.2.

[2016-03-09 15:55] rehno-lindeque commented on #11
You folk are welcome to roll back over the last commit which resets the version to `1.0.0`. I do want to recommend against however - I think you might be making far too much work for yourselves...
- At one point or another CircuitHub is inevitably going to fork from elm-community in order to do our own maintenance and from there things get confusing for everyone (suddenly the package no longer poi

[2016-03-09 15:56] jvoigtlaender commented on #11
@mgold, the idea of @eeue56's suggestion is that `elm-community`'s 1.0.0 will be an exact copy of `circuithub`'s 1.0.0. So there will be no "backwards" as you fear.

[2016-03-09 16:02] mgold commented on #11
Janis: Okay, now I understand the proposal. I agree with Rehno about treating them as separate packages, or perhaps with the third bullet, publishing the current version as 1.0.0 but discarding earlier history.

[2016-03-09 16:50] eeue56 commented on #11
It's important to set a good precedent here, because a bad one will lead to bad elm experiences. So the initial cost might be high (well, writing a 6 line script), but I think the returns are good.

This isn't a problem uneless you start to publish versions with the fork, but I get the reasoning. As long as you don't publish new versions then it will be forever locked to the last version you publi

[2016-03-09 21:42] rehno-lindeque commented on #11
Incoming...
- https://github.com/elm-community/elm-json-extra
- https://github.com/elm-community/elm-list-extra
- https://github.com/elm-community/elm-array-extra
- https://github.com/elm-community/elm-result-extra
- https://github.com/elm-community/elm-maybe-extra
- https://github.com/elm-community/elm-html-extra
- https://github.com/elm-community/elm-http-extra

Please raise them like your own;

[2016-03-11 03:15] eeue56 commented on #11
I'm happy to write the tooling for automating what I think is best practice. I don't want to be a blocker here, so if someone else wants to come back with a proposal based on this discussion then that's cool too.

[2016-03-11 04:09] Skinney opened #12 "Take over elm-dict-extra"
I'm the owner of the elm-dict-extra package. I would love for this package to be owned by the elm-community. What would I have to do for this to happen?

[2016-03-17 04:43] ajhager opened #13 "ElmCast/elm-vim and Elmcast/elm-oracle"
Hi, I am Joseph from ElmCast.io.

I would love for elm-vim and elm-oracle to be parts of this community. These tools are used quite a bit (elm-oracle gets about 2.5k downloads a month and vim was the most popular editor in the Elm Survey) and so it seems like they should be owned by the community. I would like to continue developing them under this new organization.

elm-vim could definitely use s

[2016-03-17 13:40] eeue56 commented on #12
Okay :+1:

We're still discussing the best way of migrating things. The first that would need to happen is for @mgold or someone to add you to elm-community

[2016-03-17 14:03] mgold commented on #12
@Skinney Transferring requires admin rights, which I'm about to give you. This is the obligatory "don't abuse it" speech.

[2016-03-17 14:18] fredcy commented on #11
I favor re-publishing the ported repos to reestablish all the tagged versions as @eeue56 suggests.

Doing that via a script if possible sounds good.

There are some 68 tags in the 7 elm-*-extra repos. (elm-html-extra has no tags). Is there any concern about the impact on package.elm-lang.org of adding so many packages at once?

Have we agreed to not publish any version of the ported repos until El

[2016-03-18 08:27] robinheghan commented on #12
Repository transferred

[2016-03-19 16:35] eeue56 commented on #12
Noting until the packages are published. No further input required from @Skinney at this time

[2016-03-19 16:36] eeue56 opened #14 "Logo"
elm-community should have a logo!

[2016-03-19 18:45] mgold commented on #12
Reopening until the repo is published.

[2016-03-19 19:45] fredcy commented on #14
The Elm logo multiplied somehow, perhaps in 3D?

[2016-03-19 20:59] mgold commented on #14
Or a tangram of a person?

[2016-03-23 21:45] fredcy commented on #14
![screen shot 2016-03-23 at 4 42 50 pm](https://cloud.githubusercontent.com/assets/15950/14001924/956b766c-f116-11e5-90d5-1147625107e8.png)

[2016-03-31 16:49] #13 closed

[2016-04-10 03:14] rgrempel commented on #14
I think that is fantastic!

[2016-04-11 16:45] fredcy commented on #14
I took the liberty of adding that logo to the http://elm-community.github.io/ and http://elm-community.github.io/elm-faq/ pages.

I don't know what it takes to change the profile avatar of a github organization. I suspect that I don't have means to do that for elm-community.

[2016-04-11 16:55] rgrempel commented on #14
It's in the settings for the organization -- I've switched it to the new logo -- thanks!

May I say again how much I like the logo? It's not just attractive -- it also really embodies the idea of the organization.

[2016-04-11 16:55] #14 closed

[2016-04-12 18:16] lukewestby opened #15 "Shared CONTRIBUTING.md?"
It seems like contributions here are increasing as Elm continues to gain popularity which is awesome!

It could be helpful for people looking to contribute if there was a CONTRIBUTING.md on every project that just said stuff like "please include useful doc comments" and "make sure the `exposing` statements are up-to-date with added functionality" and "please be respectful in comments" and stuff li

[2016-04-27 17:28] rehno-lindeque commented on #11
Hi again, I thought I'd quickly poke folks again about these three repos:
- https://github.com/circuithub/elm-number-format (I just received a PR to update for Elm 0.17)
- https://github.com/circuithub/elm-string-split
- https://github.com/circuithub/elm-list-split

Would elm-community be willing to take these under its wing?

[2016-04-28 04:28] mgold commented on #11
I would say so, and we can start transferring them now, but I'd like to not publish the new versions until 0.17 is finalized, just in case something big changes between now and then. (My 2c, Noah knows more than me here.)

[2016-04-29 15:09] eeue56 commented on #11
I don't think that anything big will change as far as these libraries go. We should start porting them 👍

[2016-05-01 21:43] rehno-lindeque commented on #11
I've transfered these over to elm-community and forked back to circuithub, same as last time. I didn't update the `elm-package.json` files this time to point to their new repo, but it is pretty trivial to do.

[2016-05-05 00:44] eeue56 opened #16 "Process change: Champions and assigned maintainers."
So, here's some process change I would like to happen to elm-community:

Right now, there's a lot of PRs and issues with no-one merging or doing anything about it. The problem is ownership. Each repo is not "owned" by a single person, so there is not a single person to act as the representive for that repo. That needs to change. So, instead, this should happen:
- If a repo is proposed to be moved

[2016-05-05 15:28] eeue56 commented on #16
I'll give this another day to sit here. The next actions:
- Dole out maintainer responsibilities
- Create a document for all our repos, naming a maintainer for each. It'll look like `repo | maintainer github name | maintainer email address`
- Tada

[2016-05-05 21:14] rgrempel commented on #16
I think this is all a very good idea.

[2016-05-07 02:03] eeue56 commented on #16
Everyone,

I've added a PR [here](https://github.com/elm-community/Manifesto/pull/17) where I have documented the new responsibilities of a maintainer. I also think we should get rid of the current groups (as they aren't needed in the new world). I've also added a tl;dr.

Finally, I've added a document with the current repos owned by elm-community. Every one is unmaintained until someone makes a P

[2016-05-10 02:04] fredcy opened #21 "Future of elm-linear-algebra in Elm 0.17"
The elm-linear-algebra package as it stands depends heavily on the Elm 0.16 "native" JS code scheme. What should we do about this package for Elm 0.17? I'm willing to take the lead in maintaining it but the only clear path open to me now is to re-code it in pure Elm.

[2016-05-10 02:37] lukewestby commented on #21
Can the native parts not be rewritten using the 0.17 native format?

[2016-05-10 02:37] eeue56 commented on #21
Upgrading the native for this should be pretty simple

[2016-05-10 02:57] fredcy commented on #21
Can you point me to a good example of native format in 0.17? I didn't realize that native was available anymore outside of the effect manager framework.

[2016-05-10 03:09] eeue56 commented on #21
A short but sweet example -> https://github.com/maxsnew/lazy/pull/11/files

[2016-05-10 03:49] mgold commented on #21
Anyone want to step up to maintain the package and update the native format?

[2016-05-10 14:04] fredcy commented on #21
I will give it a go. I'll close this issue and continue the conversation as necessary in the issues for that package.

[2016-05-10 14:04] #21 closed

[2016-05-10 14:11] eeue56 commented on #21
Feel free to ping me if you get stuck @fredcy

[2016-05-11 16:31] jeremy-w commented on #16
How will discoverability of this maintainer system work if you're a person looking at one of the maintained repos? Do we plan to have each repo's README clearly call out the maintainer and link to their responsibilities at the top?

My concern is that the central list is good for administering this but not so good for discoverability if you're a non-maintainer community member.

[2016-05-11 16:35] eeue56 commented on #16
If you are interested enough to become a maintainer, then you will look on this repo.

[2016-05-11 18:01] rgrempel commented on #16
I wonder whether @jeremy-w's suggestion might be useful?

At least, it would seem sensible, in a project's README, to indicate who the maintainer is -- or, if there is none, that the project could use one.

Not that we necessarily need to go through each README and change them right now. But it might be a useful idiom to adopt over time.

[2016-05-13 02:41] mgold opened #25 "Migrate elm-random-extra from NRI"
@eeue56 It's a good library to have, and even though the new elm-test probably won't use it because it needs PCG's splittable seeds, I have [this PR](https://github.com/mgold/elm-random-sample/pull/2) indicating that folks want randomness helpers.

[2016-05-13 02:42] eeue56 commented on #25
👍

[2016-05-13 04:12] mgold commented on #25
Thanks!

[2016-05-13 04:12] #25 closed

[2016-05-13 06:55] egaga commented on #25
I am unable to find the package from http://package.elm-lang.org/
Can you point it out for me? Thank you! (I assume that closing this issue indicates it has been published there).

[2016-05-14 01:12] mgold commented on #25
Nope, closing means it was moved over to the elm-community owner. It will be published in a few days.

[2016-05-14 01:52] mgold opened #27 "Proposal: Drop elm- prefix from libraries"
`elm-commity/elm-random-extra`, for example, has `elm` in it twice. This convention was established before the community came along, and we wanted to be clear on our personal GitHub pages what the library we had created was for. Under elm-community, one assumes to find only Elm things, so it seems unnecessary.

Migrating is going to be a real pain - maybe it waits for 0.18 - but if I could wave a

[2016-05-14 01:58] JoeyEremondi commented on #27
My main hesitation is that this makes it awkward for anyone who forks a
project. It's clear what random is in Elm-community, but if I want to do a
PR, I now have JoeyEremondi/random in my personal github.
On May 13, 2016 6:53 PM, "Max Goldstein" notifications@github.com wrote:

elm-commity/elm-random-extra, for example, has elm in it twice. This
convention was established before the community came

[2016-05-14 05:03] jvoigtlaender commented on #27
I agree with Max. Joey, you have the same problem with elm-lang/core, elm-lang/html etc.

[2016-05-14 05:04] JoeyEremondi commented on #27
Very true, and I think it's even possible to change the repo name when you
fork. +1

On Fri, May 13, 2016 at 10:03 PM, Janis Voigtländer <
notifications@github.com> wrote:

[2016-05-14 05:07] jvoigtlaender commented on #27
Actually: Why wait for 0.18? So far only 5 elm-community packages have been published in 0.17 versions. So maybe it's not too late to make the general name transition now for 0.17.

[2016-05-14 05:21] mgold commented on #27
Okay, I'd like to wait for a few more people to weigh in, but I'm glad you two like the idea and I'll hold off publishing my e-c libs.

[2016-05-14 16:48] mgold opened #28 "Migrate elm-shrink from NRI"
@eeue56 This is a blocker for elm-check.

[2016-05-14 18:10] lukewestby commented on #27
this sounds good to me, seeing elm- in front of every elm package ever is getting a little redundant

[2016-05-15 12:32] ThomasWeiser commented on #27
I am also in favor of removing the tautologous _elm-_ prefixes.

[2016-05-15 20:11] mgold commented on #28
Not sure when the repo got made, but it exists now. :shrug:

[2016-05-15 20:12] #28 closed

[2016-05-16 15:54] fredcy commented on #27
Sounds good to me.

[2016-05-16 16:16] abadi199 commented on #27
I'm also in favor of removing the _elm-_ prefixes, and we should just do it now for all unpublished packages, and for the one already published we can do what @rtfeldman suggested on [slack channel ](https://elmlang.slack.com/archives/elm-community/p1463243803000279)

[2016-05-17 08:28] jvoigtlaender commented on #27
@abadi199, can you repeat here what the suggestion on the slack channel was? Or is it a secret? :smile:

[2016-05-17 13:57] fredcy commented on #27
I believe this is the Slack conversation being referenced:

![screen shot 2016-05-17 at 8 55 09 am](https://cloud.githubusercontent.com/assets/15950/15324744/42c82834-1c0d-11e6-9a88-8f69444af2e0.png)

[2016-05-17 14:13] abadi199 commented on #27
Sorry, yes that's the slack conversation I was referring to.

[2016-05-17 16:17] rgrempel commented on #6
I've now also added @jvoigtlaender as an owner, and created an @elm-community/owners team, so you can ping all the owners at once if you like.

[2016-05-18 03:00] rgrempel commented on #16
Thinking this over a little more, there was one additional comment I wanted to make.

In some cases, I think the ideal development process has been where two people keep an eye on a repository, and they merge each other's PR's (and those coming from other people as well, of course). Or, at least comment on each other's PR's.

Now, identifying a primary maintainer has obvious benefits, and I'm not

[2016-05-19 20:50] #12 closed

[2016-05-20 11:53] fredcy commented on #27
For packages already published such as elm-linear-algebra, are we to create a new renamed repo as a copy per rtfeldman's directions just above? If so, should we re-publish all the same versions?

[2016-05-20 12:19] fredcy commented on #27
See also https://github.com/elm-community/elm-linear-algebra/issues/12

[2016-05-20 14:15] lukewestby commented on #27
waiting on feedback to @fredcy's comments above for elm-community/elm-json-extra#11 as well

[2016-05-23 17:57] abadi199 commented on #27
I also need to know what to do for elm-community/elm-list-extra#43

I'm suggesting to add

to the Readme of the old package, and create a new repo with the new name, and reset the version to `1.0.0`

Also need to set the `elm-package.json` summary with the deprecate message so that it shows up in the search results summary in package.elm-lang.org.

e.g.:

[code]

[2016-05-26 16:51] jvoigtlaender opened #34 "Appropriate repo for a severalUpdates function?"
There was this issue at `start-app`: https://github.com/evancz/start-app/issues/40

The function proposed there still makes sense. It would now have this signature:
[code]
A use case would be that in [this mailing list thread](https://groups.google.com/d/msg/elm-discuss/D08ddTkFILQ/l28O5ujRFwAJ) one solution would be to have:
[code]
But where could such a function live? Does it fit with one of the

[2016-05-27 04:53] mgold commented on #34
I think the best place for it among the existing -extra repo is basics-extra. It's not a perfect fit, but I prefer that to creating a library with one function.

[2016-05-27 09:29] jvoigtlaender commented on #34
Actually found an appropriate home: https://github.com/ccapndave/elm-update-extra/issues/2

[2016-05-27 09:29] #34 closed

[2016-05-29 01:28] mgold commented on #34
👏

[2016-06-03 08:21] lorenzo opened #35 "Consolidate String repos"
Today in the slack channel there was a discussion about the multiple `String` related repos. It would be nice to consolidate the String extras in a single repository. I'm willing to take that job if you think it is a good idea.

[2016-06-03 08:39] jaapz commented on #35
Yeah, I'd propose looking at the API for [underscore.string](https://epeli.github.io/underscore.string/) and implement the ones that are not covered by the String api already.

I think having a kind of canonical String-extra's repo would be nice to have, without having to bloat the standard library's String with too many helper functions.

I'm interested in helping out to get this working.

[2016-06-03 15:01] mgold commented on #35
I've created a repo [here](https://github.com/elm-community/string-extra) and given you both write access. Have at it!

(Can this be closed?)

[2016-06-03 17:25] jvoigtlaender commented on #35
I guess: close only after https://github.com/elm-community/Manifesto/blob/master/maintainers.md was updated?

[2016-06-04 06:09] mgold commented on #35
Sounds reasonable. By the way @lorenzo @jaapz would you mind letting some folks know when you want to release 1.0.0 and they can do code review? Just @-tag whoever or post to slack, the mailing list, etc.

[2016-06-04 07:18] lorenzo commented on #35
Will do :)

[2016-06-28 03:26] rgrempel opened #39 "Using elm-community.org"
I registered the domain `elm-community.org` in case it ever came in handy, and the `elm-webgl` repository is now using it for its `gh-pages` (e.g. http://webgl.elm-community.org/triangle.html).

I've also hooked things up so that you can see the organization pages for elm-community at either http://elm-community.github.io/ or http://elm-community.org/

If any of the other repos would like to use a

[2016-06-28 14:30] fredcy commented on #39
The elm-faq repo had been published at http://elm-community.github.io/elm-faq/. When I access that URL today it gets redirected to http://elm-community.org/elm-faq/

I'm OK with that change but I'm surprised that it happened.

[2016-06-28 15:39] rgrempel commented on #39
Ah, I didn't realize that would happen -- I thought that it was opt-in on a per-repository basis. But, I guess when I did the CNAME in the `elm-community.github.io` repo, it must have had this side-effect for the other repos? I suppose that seems logical, now that I think about it a little more.

I can revert that if it's troublesome -- there wasn't any strong reason to do it -- just that since we

[2016-06-28 16:04] fredcy commented on #39
Having `faq.elm-community.org` work sounds good, as long as the old URL (`elm-community.org/elm-faq/`) redirects there. How do we make that happen?

[2016-06-28 16:59] rgrempel commented on #39
I've done the DNS entry required, so now it's just a matter of having a file called `CNAME` in the gh-pages branch, where the content of the file is `faq.elm-community.org`

I just tried that, and it worked (including the redirect), but it broke a ton of the internal links to CSS and the like, because they had been specified like `/elm-faq/...`, but now we're one level up, if you know what I mean.

[2016-06-28 18:22] fredcy commented on #39
Relative links are not a good fit with how the Jekyll templates are currently set up.

I changed the `baseurl` in the config to be the default rather than "/elm-faq" and reinstated the CNAME file. With that in place it's working correctly for me. http://elm-community.github.io/elm-faq/ still redirects to http://faq.elm-community.org/ and the latter displays correctly.

Would someone else please ve

[2016-06-28 20:05] jvoigtlaender commented on #39
Works for me.

[2016-06-28 21:51] fredcy commented on #39
Thanks. So elm-faq is set.

Is there any other reason to keep this issue open?

[2016-06-29 03:15] rgrempel commented on #39
Let's keep it open a few days in case any other repos have been using gh-pages.

[2016-06-30 09:06] jvoigtlaender commented on #27
Keeping a tally of which repositories haven't been renamed yet for some reason or another:
* https://github.com/elm-community/elm-linear-algebra - waiting on Evan to whitelist new name, https://github.com/elm-lang/package.elm-lang.org/pull/183
* https://github.com/elm-community/elm-webgl - waiting on the above
* https://github.com/elm-community/elm-material-icons - ?, maintainer @mgold
* https://g

[2016-10-15 07:19] eeue56 opened #41 "When renaming a package, always get a second check from someone else"
# Problem
- [elm-lazy-list was renamed to lazy-list](https://github.com/elm-community/lazy-list/issues/1#issuecomment-253960228)
- This was done for 0.18, as we had done similarly for 0.16 -> 0.17
- However, a repo called `elm-lazy-list` was _not_ left behind
- As a result, anything in 0.17 that tried to use elm-lazy-list could not find it
- Lazy list is mainly used by elm-test
- This broke all th

[2016-10-15 07:26] eeue56 commented on #41
cc @elm-community/guides @elm-community/manifesto @elm-community/owners @elm-community/packages

Could all maintainers please acknowledge this by giving it a thumbs up or something?

[2016-10-15 09:47] eeue56 commented on #41
CC people not in the above groups:
@abadi199  @jonboiser @rohanorton @Dandandan @sgraf812 @lorenzo @jaapz

[2016-10-15 19:02] lorenzo commented on #41
@eeue56 can you add me to one of the groups so I can be notified next time?

[2016-10-15 20:45] eeue56 commented on #41
We'll make a new group with all registered maintainers in

[2016-10-16 08:39] lorenzo commented on #41
Thanks

[2016-10-16 16:34] mgold commented on #41
No, this was my fault. I thought that upgrading to 0.18 would be a good opportunity to take care of the rename (which was my idea in the first place, #27). What's funny is that I had initially been hesitant to rename the repo for fear of creating exactly this sort of disaster.  But I had done a few of these perhaps six months ago and GitHub and I remember (correctly or not) that it created redirec

[2016-10-16 17:30] eeue56 commented on #41
@elm-community/owners - can one of you make me an owner so I can invite more people to the maintainer team?

[2016-10-16 17:34] rtfeldman commented on #41
@eeue56 done!

[2016-10-16 17:34] eeue56 commented on #41
It does create redirects, but not for the zip downloading that Elm uses for grabbing package sources. This was true during 0.16 too - that's where I first came across this issue, when elm-community was taking over the repos owned by circuithub.

The reason why this is not okay is because _anyone_ can then do the following:
- `git clone <repo-with-tags>`
- `git checkout 1.0.0`
- make some changes l

[2016-10-16 17:37] eeue56 commented on #41
@rtfeldman I think you've added me to the owner group, but not as an owner (so I still can't add people to teams)

[2016-10-16 17:47] rtfeldman commented on #41
Fixed!

[2016-10-16 20:49] robinheghan commented on #41
Has there been started a discussion at the right place (whatever that is) how we can prevent stuff like this from happening in the future, even by mistake? Like, for example, has there been started a discussion on the elm-package repo how to redesign the package manager in such a way that packages will still be available even if a repo is, say, renamed?

I'm not saying I know what, if anything, sh

[2016-10-16 21:34] rtfeldman commented on #41
Oh for sure - the plan for awhile has been to focus on `elm-package` for 0.19, including stuff like this. It's been a known weakness of the implementation since day 1, but other things have taken priority.

There's never been an `elm-package unpublish` or `elm-package rename` because it's not intended to be supported. However, the feature of actively preventing those actions hasn't been added yet.

[2016-10-16 21:36] robinheghan commented on #41
Good, good. I figured "the right people" had a plan, but it never hurts to make sure :)

[2016-10-16 21:37] eeue56 commented on #41
@Skinney we have enough worry with elm package at NRI that I'm working on switching over to a fork I made that allows for a cached package server. I'll push this upstream once I've ironed things out.

[2016-10-31 08:20] jvoigtlaender commented on #27
The following cases remain unaddressed here now:
* https://github.com/elm-community/elm-linear-algebra - waiting on @evancz to whitelist new name, https://github.com/elm-lang/package.elm-lang.org/pull/183
* https://github.com/elm-community/elm-webgl - waiting on the above
* https://github.com/elm-community/elm-material-icons - ?, maintainer @mgold

[2016-10-31 18:28] eeue56 opened #42 "Porting to 0.18"
| Repo | Description | Maintainer github | Maintainer email | is ported |
|------|-------------|-------------------|------------------|-----------|
| [builtwithelm](http://github.com/elm-community/builtwithelm) | A list of projects and apps built with Elm. | lukewestby | opensource@lukewestby.com  | [ ] |
| [elm-webgl](http://github.com/elm-community/elm-webgl) | Functional 3D Rendering with WebGL

[2016-10-31 18:29] eeue56 commented on #42
cc @elm-community/maintainers please update your packages to 0.18 and publish them against the beta site. For now, we can consider our repos frozen until 0.18 is released.

[2016-10-31 19:02] sgraf812 commented on #42
Is there a list of breaking changes somewhere? Is there a `HEAD` version of the compiler or do I have to compile it myself?

[2016-10-31 19:05] eeue56 commented on #42
https://groups.google.com/forum/#!topic/elm-dev/ddNPpn9aE6s

and

https://gist.github.com/evancz/8032a3ac6eb7a4ac8e0956ed6d386798

[2016-11-01 07:45] jvoigtlaender commented on #42
Do we have a plan for how to go about the two packages currently marked "Unmaintained"?
- https://github.com/elm-community/elm-webgl
- https://github.com/elm-community/html-extra

I may try to have a go at updating `html-extra`, but we shouldn't duplicate work.

[2016-11-01 08:28] jvoigtlaender commented on #42
Have updated https://github.com/elm-community/html-extra to 0.18, and also taken the opportunity to add [`Html.Attributes.Extra.static`](http://package.elm-lang.org:8018/packages/elm-community/html-extra/2.1.0/Html-Attributes-Extra#static).

[2016-11-02 16:09] eeue56 commented on #42
not sure about elm-webgl. It's not a thing used in production so I don't consider it top priority. Maybe wait til someone requests it?

@elm-community/maintainers please comment when you have updated packages so i can tick them off :+1: thanks in advance!

[2016-11-02 16:33] robinheghan commented on #42
I'm waiting for elm-test to be available. Not updating until I can get working unit tests.

[2016-11-02 16:49] rtfeldman commented on #42
@mgold is looking into a regression on `Random.Pcg`, and the elm-test upgrade is blocked on that. Stay tuned!

[2016-11-02 16:51] lukewestby commented on #42
json-extra is good

[2016-11-02 17:39] jvoigtlaender commented on #42
The following are updated from my side:
- https://github.com/elm-community/basics-extra
- https://github.com/elm-community/html-extra
- https://github.com/elm-community/svg-extra

[2016-11-02 18:01] fredcy commented on #42
I have updated the elm-linear-algebra package and published it to the beta server. No code changes were required, only elm-package.json changes.

Its tests do not build yet. I'll update those when elm-test is available.

Edit: The tests are now running again. I just published patch version 2.0.5. This package is all ready for 0.18.

[2016-11-03 04:29] mgold commented on #42
I have fixed the randomness issue that blocked elm-test, so that should be up soon.

[2016-11-03 11:44] jaapz commented on #42
Whenever elm-test is working on 0.18 we can make sure string-extras is too

[2016-11-03 18:26] rtfeldman commented on #42
`elm-test` is now  👍

[2016-11-03 19:19] sgraf812 commented on #42
I was a little eager on `elm package publish`. Is there a way to undo that? Otherwise I can just wait until 0.18 is released...

[2016-11-03 19:21] eeue56 commented on #42
@sgraf812 what do you mean by that?

[2016-11-03 19:25] sgraf812 commented on #42
I published v2.0.0 on the temporary package registry without really having run/compiled the tests (yeah, I know...), so I just fixed up the test suite. I force pushed the v2.0.0 tag to the new commit and would like to have a way to update the registry now.

No problem if that's not possible, the actual library code didn't change anyway. Also I think that since the GitHub repo points to the right c

[2016-11-03 19:26] eeue56 commented on #42
That's okay, we'll need to re-publish on the live server anyway (so you can just force-push the tags for now)

[2016-11-03 21:02] abadi199 commented on #42
https://github.com/elm-community/list-extra is updated.

[2016-11-03 21:17] robinheghan commented on #42
elm-community/dict-extra is updated.

[2016-11-03 21:18] lorenzo commented on #42
https://github.com/elm-community/string-extra is updated but I'm getting an error when trying to publish to the beta site.

[code]

[2016-11-03 21:18] sgraf812 commented on #42
elm-community/intdict is updated.

[2016-11-03 22:58] abadi199 commented on #42
https://github.com/elm-community/maybe-extra is updated

[2016-11-03 23:02] abadi199 commented on #42
https://github.com/elm-community/result-extra is updated

[2016-11-04 03:42] mgold commented on #42
https://github.com/elm-community/shrink is done
https://github.com/elm-community/lazy-list is done
https://github.com/elm-community/elm-check is deprecated in favor of elm-test
https://github.com/elm-community/elm-compiler-docs contains no code
https://github.com/elm-community/random-extra is TODO
https://github.com/elm-community/elm-material-icons is TODO

[2016-11-04 18:00] rtfeldman commented on #42
@mgold https://github.com/rtfeldman/legacy-elm-test still uses `elm-community/elm-check`, and I'd like to release an 0.18 update for that.

I think it'd be reasonable to deprecate it for 0.19 and say "the time has come to migrate" but I think now would be too soon.

[2016-11-08 00:53] mgold commented on #42
@rtfeldman, I had a busy weekend, but I've just updated `random-extra` and `elm-check`.

I should probably stop maintaining `elm-material-icons`.

[2016-11-08 01:28] rtfeldman commented on #42
Thanks @mgold! `rtfeldman/legacy-elm-test` is now published for 0.18.

[2016-11-10 17:00] rohanorton commented on #42
https://github.com/elm-community/undo-redo updated

[2016-11-10 19:25] jonboiser commented on #42
`list-split` and `array-extra` have been updated

[2016-11-14 14:13] eeue56 commented on #42
@elm-community/maintainers  Thanks to everyone who updated! Now it's time to re-publish against the actual package site. Let me know of any problems ASAP and I can loop evan in

[2016-11-14 19:19] lukewestby commented on #42
Looks like json-extra is already republished. Thanks to whoever pushed it up!

[2016-11-15 06:41] mgold commented on #42
I've republished `elm-check` to that @rtfeldman can republish the legacy elm-check package. I think everything else I maintain has already been taken care of?

[2016-11-15 06:48] rtfeldman commented on #42
Upgraded - thanks @mgold!

[2016-11-19 19:42] jvoigtlaender commented on #27
Seems only one repository is left un-renamed: https://github.com/elm-community/elm-material-icons

After that, this issue could be closed @mgold?

[2016-11-19 19:50] w0rm commented on #42
@eeue56 please mark webgl as ported!

[2016-11-28 09:04] jvoigtlaender opened #46 "Potentially continue imeckler/ratio as an elm-community package?"
See https://github.com/imeckler/ratio/issues/5#issuecomment-263217153.

@elm-community/maintainers, @elm-community/packages

[2016-11-30 06:43] mgold opened #47 "Consolidate GitHub teams and standardize access permissions"
We had some difficulty getting a new maintainer getting their access permissions (see #44). Let's organize this.

GitHub's organization team permission system is flexible, but somewhat complicated and probably designed for a more complicated case than ours. Recap:

* "elm-community" is an **organization**.
* Organizations can have members and "outside collaborators". We currently have a good amoun

[2016-11-30 07:05] jvoigtlaender commented on #46
Update:

In a personal message, @newlandsvalley has agreed to serve as maintainer of the `ratio` package if it is moved to `elm-community`. He already has a fork in which he has worked on the package and made improvements, and ported to Elm 0.18: https://github.com/newlandsvalley/ratio

And @imeckler said he is happy to have his package be continued and maintained by `elm-community`.

So it seems

[2016-11-30 07:18] mgold commented on #46
Alternatively, create a new `elm-community` repo and push @newlandsvalley's repo up to it. This avoids the "forked from" designation, which may be good or bad. It avoids the need to delete tags and the possibility that the existing repo is messed up.

I think @jvoigtlaender's approach is the most conservative (e.g. by releasing a 0.17 package) but I'm not sure it's necessary.

[2016-11-30 09:24] newlandsvalley commented on #46
Before I start, I would appreciate people's opinion on the following.  In designing my fork, I was particularly concerned about allowing expressions that use a mixture of Rationals and Ints to have syntax which was as unobtrusive as possible - i.e. to mirror the underlying maths expression as closely as it could.  I'm thinking of expressions such as:

[code]

where i is an integer and r a rational

[2016-11-30 09:32] rtfeldman commented on #46
I would definitely not recommend basing any decisions on the assumption that elm will introduce user-defined typeclasses someday!

A complaint I've heard even from veteran Lisp programmers is that writing arithmetic expressions without infix operators feels unnatural, so a rationals library seems like a default reasonable place to use custom operators - even if my global default is still to avoid

[2016-11-30 09:39] newlandsvalley commented on #46
See this thread - https://github.com/imeckler/ratio/pull/3.

[2016-11-30 11:49] jvoigtlaender commented on #46
I've now already done the steps from further above, except:
* @newlandsvalley adds himself to https://github.com/elm-community/Manifesto/blob/master/maintainers.md via a pull request
* then he merges changes from his currently existing personal fork, including the updates for Elm 0.18, bumps the package version appropriately, and publishes again to the package site

In particular, http://package.e

[2016-11-30 12:26] newlandsvalley commented on #46
OK - many thanks, Janis.  I should be able to start once I get back home on Friday.

[2016-11-30 16:07] eeue56 commented on #47
Pretty busy right now so I'll keep replies short

Yes

Yes

Yes

Yes. We need to keep some way of mentioning people via tagging. A team seems the easiest way.

Somewhat disagree - there are some things you can't do without being an admin, like setting up build systems and friends -> https://help.github.com/articles/repository-permission-levels-for-an-organization/#changing-repository-settings
But

[2016-11-30 16:27] mgold commented on #47
Having CI for all/most of our repos would be great, so I definitely don't want to discourage that. We can discuss this point further.

[2016-12-01 01:35] mgold commented on #47
I have removed all teams except owners and maintainers, and changed the default permissions to write. I have also invited a few outside collaborators who I have seen around (virtually) to be members; that's an ongoing process.

It also seems that the Owners team does not impart any permissions and is not auto-updated, but it's useful for at-mentions.

[2016-12-02 09:55] jvoigtlaender commented on #46
This is now happening.

[2016-12-02 09:55] #46 closed

[2016-12-02 10:31] newlandsvalley commented on #46
I've merged my latest 0.18 changes. I'll pause for a little while before bumping the version and publishing in case I've forgotten anything obvious or if anyone has the time ti look at it and make comments.

[2016-12-21 18:52] #47 closed

[2016-12-21 18:52] #42 closed

[2016-12-21 18:52] eeue56 commented on #35
Can this be closed?

[2016-12-21 18:52] #35 closed

[2016-12-21 18:54] #11 closed

[2016-12-21 18:54] #6 closed

[2016-12-21 18:54] #3 closed

[2016-12-21 18:55] eeue56 commented on #27
@mgold ping

[2016-12-21 18:56] eeue56 commented on #16
Considering this issue closed

[2016-12-21 18:56] #16 closed

[2016-12-21 18:56] eeue56 commented on #39
Closing due to no reply

[2016-12-21 18:58] eeue56 commented on #5
Closing due to stale issue

[2016-12-21 18:58] #5 closed

[2016-12-21 18:59] eeue56 commented on #15
Sounds good. Someone want to make a draft of this?

[2016-12-22 04:09] mgold commented on #27
Sorry! Will try to get to this.

[2016-12-25 20:53] mgold commented on #27
[Done!](https://github.com/elm-community/material-icons)

[2016-12-25 20:53] #27 closed

[2016-12-27 05:21] prikhi commented on #15
I feel like it would make more sense to have a centralized contributing guide. It seems easier to just say, "see the contributing guide at elm-community/contrib or elm-community/Manifesto", instead of having to update contributing guides in every single elm-community repo after every change

[2016-12-27 05:45] mgold commented on #15
I'll probably add a few things when I see the draft, but right off the bat I'd like to suggest: don't bump the version in `elm-package.json`.

[2016-12-27 06:22] mgold commented on #4
Closing as stale (>1 year old).

[2016-12-27 06:22] #4 closed

[2016-12-27 06:23] mgold commented on #15
Also how did nobody notice this for eight months?

[2016-12-29 17:17] mgold commented on #15
Another suggestion: explain how elm-package enforces semvar, and then say not to make major/breaking changes if possible.

[2016-12-31 19:18] prikhi commented on #15
If the repository has a changelog, add any user-facing changes to it.

[2016-12-31 22:19] mgold commented on #15
Under an "unreleased" header.

[2017-01-10 20:37] #41 closed

[2017-01-20 18:47] eeue56 opened #57 "Help migrate bogdanp's repos"
@bogdanp

[2017-01-21 09:36] Bogdanp commented on #57
What's the process for doing this?

[2017-01-21 10:44] eeue56 commented on #57
https://github.com/elm-community/Manifesto#renaming-elm-community-packages

tl;dr - Ideally

- Transfer your repos here
- Fork them back to your user (so that old versions of the package will work)

I'll handle the rest from there

[2017-01-22 11:17] eeue56 commented on #57
Transferred and forked back. Now to find maintainers!

[2017-01-23 05:22] oldfartdeveloper commented on #57
@rgrempel or someone who can change ownership: @oldfartdeveloper needs to be added as an owner of the **elm-time** repo so that he can perform his maintainer duties.

[2017-01-23 10:06] eeue56 commented on #57
@oldfartdeveloper I've already done so. You need to accept the invite that I've sent - you probably need to check your email to find it, I think

[2017-01-23 16:54] oldfartdeveloper commented on #57
@eeue56 You are correct; it's been so long I've forgotten that I have to respond to an email invite.  I did and everything's good.  Thanks!

[2017-01-23 18:23] jvoigtlaender commented on #57
I'm noticing that these packages get added as `elm-combine`, `elm-time`, `elm-datepicker`.

Wasn't there consensus within the `elm-community` team that in most cases it makes sense to *not* have the `elm`-prefix on package names under `elm-community`, i.e., it should be `elm-community/datepicker` instead of `elm-community/elm-datepicker` etc.?

Now is the time to make sure that we don't get lots o

[2017-01-23 18:40] eeue56 commented on #57
@jvoigtlaender I decided that the names here wouldn't make sense if they were just "time", for example. In fact, I think it would be better if they had a more unique name. "elm-jsone-xtra" makes sense to become "json-extra", but I'm less sure about "elm-time" becoming "time". More than happy to suggest dropping it, but I don't want to promote these libraries as the "correct" way of doing this in E

[2017-01-23 18:42] jvoigtlaender commented on #57
Yeah, I saw this being explicitly discussed for `route`, but not for `time`, `combine`, and `datepicker`. (And at least for `datepicker` I really don't see why the `elm`-prefix is needed).

[2017-01-23 18:43] eeue56 commented on #57
@jvoigtlaender Sorry, discussed with the maintainers on slack. That's my bad, should've done it on Github too

[2017-01-23 18:47] jvoigtlaender commented on #57
Hmm, I don't understand how having the `elm`- prefix or not having it relays any message about whether a given library is the "correct" way of doing things.

Does `elm-community/datepicker` in any way sound more official than `elm-community/elm-datepicker`? In other words, does calling the package `elm-datepicker` instead of `datepicker` really suggest that it's "less official"?

[2017-01-23 18:48] eeue56 commented on #57
@jvoigtlaender It was more thinking along the lines of "I don't think this is the right name for the package - so let's make the migration from bogdan's packages to elm-community's smooth, then move to a slightly different name that is more distinct". Thoughts?

[2017-01-23 18:50] jvoigtlaender commented on #57
Makes sense.

[2017-01-23 18:56] oldfartdeveloper commented on #57
@jvoigtlaender @eeue56 as the new maintainer for elm-time, I'm sympathetic to drop the "elm-" in the name, but I'm sympathetic to @eeue56 concerns.

That being said, how much of a burden is it on our developers to change the name of a package within **elm-community**?

I've also opened a **[new issue](https://egithub.com/elm-community/elm-time/issues/17)** inviting comments/concerns/ideas on **elm

[2017-01-23 18:58] eeue56 commented on #57
@oldfartdeveloper renaming things if they are published is actually quite a pain. Usually we take care of it during Elm version upgrades (e.g 0.17 -> 0.18). To understand some of the pain, see https://github.com/elm-community/Manifesto/issues/41

[2017-02-03 22:19] avh4 opened #62 "Move NoRedInk/elm-task-extra to elm-community/task-extra"
Hello, we'd like to see if elm-community is interested in taking over https://github.com/NoRedInk/elm-task-extra

This is an extras package for working with Tasks, and seems like a good fit for living in elm-community.

I could be the interim maintainer until a new maintainer is found.

[2017-02-06 07:34] avh4 opened #63 "Create elm-community/travis-ci"
There is an open issue to add Elm support to Travis-CI (https://github.com/travis-ci/travis-build/pull/934).  Part of the process of getting Elm support approved is to have a group of at least three people willing to provide support for travis issues related to the language plugin.  I think it would be good to have those responsibilities be managed by elm-community.

Myself, @lukewestby, and @rtfe

[2017-02-07 05:21] mgold opened #64 "CONTRIBUTING.md or PR template"
I made a [reddit post](https://www.reddit.com/r/elm/comments/5sbjcb/psa_dont_bump_package_version_with_prs/) that asks contributors to not bump the package version with PRs. It also mentioned running the compiler and tests before submitting. I put up the post without intending further action, but commenters mentioned that writing up either a `CONTRIBUTING.md` or PR/issue template would be useful.

[2017-02-07 09:41] prikhi commented on #64
Dupe of #15? Or just related?

[2017-02-07 16:08] mgold commented on #64
Probably a dupe, but with a new justification.

[2017-02-07 16:08] #64 closed

[2017-02-12 15:11] stil4m opened #66 "Modify url for elm-community/parser-combinators"
The url in the title for the parser-combinators package directs to `elm-combine`.
I believe that I do not have the sufficient permissions to change this.

Could this URL be changed into:

`http://package.elm-lang.org/packages/elm-community/parser-combinators/latest`

[2017-02-12 16:54] jvoigtlaender commented on #66
Done.

[2017-02-12 16:54] #66 closed

[2017-02-26 22:01] eeue56 commented on #63
Seems okay.

[2017-02-26 22:02] eeue56 commented on #62
Is this package actually in use?

[2017-02-26 22:02] #57 closed

[2017-02-26 22:05] eeue56 commented on #63
I've made a repo. Can you make a PR against the maintainers doc?

[2017-03-06 21:57] avh4 commented on #62
Yes, we had a PR from someone who wants it updated to Elm 0.18:  https://github.com/NoRedInk/elm-task-extra/pull/3

[2017-03-06 22:00] avh4 commented on #62
Hmm... looking at it, `never` and `performFailproof` are now in core... maybe there's nothing worth keeping.   I'll check with the original requester.

[2017-03-06 23:33] avh4 commented on #62
We've decided to deprecate the package instead of moving it to elm-community.

[2017-03-06 23:33] #62 closed

[2017-04-02 10:05] rehno-lindeque opened #68 "Proposal: Component curation and collaboration between UI framework authors"
Forgive me if this has been discussed to death and I'm beating a dead horse. I've been absent from the Elm community for a while and am not sure about the exact state of things anymore, but I'll take the risk.

At my workplace we're currently having a push to start using Elm in internal ui and I'm evaluating which framework we want to use for our controls.

Since I last looked at Elm the number of

[2017-04-03 06:40] damienklinnert commented on #68
Dear Rehno,
Thanks for taking the time to write your thoughts down. I'd love to be involved in the discussions. Is there a slack room for all participants or so?

Cheers
 Damien

[2017-04-03 06:50] gdotdesign commented on #68
Nice writeup!

In my opinion there are some things that are needed for standardizing an Elm "component":
* how to handle hidden state (big discussions about this)
* API for `Element.getBoundingClientRect()` this is needed for so many things (dropdowns, drag & drop, etc...)
* API for `input.value = newValue` to be able to set values without using `input` attribute in order to avoid racecondition
*

[2017-04-03 08:31] ohanhi commented on #68
Here's how I understood this: it would be great if the singular "UI components" had "skins" so that when used with UI frameworks, they fit in with most of them.

I disagree with the sentiment. For me, personally, UI frameworks such as Bootstrap, Foundation etc. have always proven to be a burden sooner or later in the project. What I mean is they might feel super productive in the beginning of the

[2017-04-03 08:36] rehno-lindeque commented on #68
Thank you @damienklinnert, I tend to prefer the github myself but other folks might be in a slack?

@gdotdesign good comments, thanks! Let me try to address some of your comments inline:

I know that the "Elm Way" is to not do this, and understandably there's some disagreement. I think state hiding and composition are two discussions worth having in general (we have our own way of dealing with com

[2017-04-03 08:53] rehno-lindeque commented on #68
Thanks @ohanhi, yes indeed I think this is the crux of the issue (for me):

The main thing I want as a user of some component is to know whether it follows a couple of basic conventions, e.g. it takes customization that lets me style it however I want, and is flexible enough to allow for most variations I'd commonly want. Also, that it is going to continue being maintained - I don't want to take o

[2017-04-03 09:32] gdotdesign commented on #68
I understand your point. I think there are different use cases:
* as an agency doing work for startups custom styled elements are the way to go
* as an internal or enterprise tool the looks doesn't really matter as long it's stable and works

What I would like to see and probably implement at some point in Elm-UI is something similar to this: http://empties.bourbon.io which would satisfy most use

[2017-04-03 10:11] rehno-lindeque commented on #68
@gdotdesign http://empties.bourbon.io/ is just about exactly what I had in mind. I learned something today!

[2017-04-03 11:52] rundis commented on #68
I feel there are so many concerns I could try to respond to here that I'm a bit overwhelmed and don't know where to start. Could someone help me distill the essential questions being asked of me as a "framework" developer of elm-bootstrap ?

My gut reaction/brain dump from skimming this so far is;
- **Too early ?** is an ambitious coordination effort perhaps a bit too early ?
  - support for inter

[2017-04-03 14:05] rehno-lindeque commented on #68
Thanks @rundis, my apologies I did go a little bit overboard on the text.

The TLDR, so to speak, of this discussion is to feel out whether people would be open to a framework neutral package containing unstyled components similar to Evan's elm-sortable-table.

To be clear - I would consider both elm-ui and elm-bootstrap to be framework level packages with their own pros and cons. The hope for a c

[2017-04-03 22:59] sporto commented on #68
I totally understand the frustration of having many things to choose from and finding it difficult to pick something.

But I wouldn't like the elm-community organisation endorsing a particular way to structure ui libraries. I still see many conventions and patterns still unclear. And I like new people bringing new ideas on how things can be done. I think is very risky to push forward a particular

[2017-04-04 04:35] rehno-lindeque commented on #68
Thanks @sporto, ok I get the impression that the overall feeling is that getting traction with a neutral package might be a bit much to ask for the moment.

As a fallback I think a component matrix would be a very good idea. If I get some time I'll try to help out.

I might slowly play around with a `ui-basics` in a personal repo for a bit as well (where the term "basics" is intended to be much le

[2017-04-10 07:51] #68 closed

[2017-04-25 14:46] canadaduane opened #69 "Adopt canadaduane/typed-svg?"
Leaving this here as a discussion point per Noah's request, so I can point interested parties here.

`TypedSvg` is an attempt to replace the `elm-lang/svg` package with a fully typed (and documented) equivalent. Some reasonable module separation has been included (for instance, to keep filters in their own modules, and my intent was to move animations to their own module as well). In addition, the

[2017-04-25 14:48] eeue56 commented on #69
Needs someone to step forward as maintainer

[2017-04-25 15:04] rupertlssmith commented on #69
Happy to be the maintainer. I'll be using this library a lot in the coming months so I have an interest in looking after it. Also, many thanks to Duane for getting it this far.

[2017-04-25 15:16] eeue56 commented on #69
Are you familiar with how to publish a package?

[2017-04-25 15:37] mgold commented on #69
[In case you're not.](https://medium.com/@Max_Goldstein/how-to-publish-an-elm-package-3053b771e545)

[2017-04-25 16:06] rupertlssmith commented on #69
Yes.

[2017-04-25 16:31] avh4 commented on #69
FYI, I'd be happy to help review PRs for typed-svg (though wouldn't have time for active development).

@rupertlssmith, since you're stepping up, feel free to ping me if you ever need an extra hand.

[2017-04-25 16:42] eeue56 commented on #69
@rupertlssmith Please open a like [this](https://github.com/elm-community/Manifesto/pull/65)

@canadaduane Please transfer typed-svg to me. Thanks for your work on it, it's in good hands!

[2017-04-25 16:54] canadaduane commented on #69
Transferred. Thanks all!

[2017-04-25 21:16] rupertlssmith opened #70 "Add myself as maintainer to new project 'typed-svg'"
To support the typed-svg library being moved to elm-community from canadaduane.

[2017-04-25 21:16] rupertlssmith commented on #69
Hopefully, this is what you meant:

https://github.com/elm-community/Manifesto/issues/70

[2017-04-25 21:24] eeue56 commented on #70
@rupertlssmith Please make a pull request, not an issue. See [this](https://github.com/elm-community/Manifesto/pull/65) example

[2017-04-25 21:24] #70 closed

[2017-04-27 10:58] eeue56 commented on #69
@canadaduane Please fork it back to your account -- right now, nobody can install typed-svg from you. That's my bad, I should've said. I'll make a checklist to make this easier in future.

[2017-04-27 11:23] gampleman commented on #69
Same here.

[2017-04-27 16:47] canadaduane commented on #69
Forked.

[2017-05-29 22:29] prikhi opened #73 "Add Checklist for Transferring Repositories"
I think it'd be useful process-wise if people interested in transferring ownership to elm-community could copy & paste a checklist from the Manifesto into their PR to help track the progress & make sure all the bases have been covered. This comes from seeing the following pasted into pretty much every PR:

[code]

I would push something, but just want to check-in with members about what the list s

[2017-05-30 15:15] rtfeldman opened #74 "Scope of elm-community?"
The README currently says `elm-community` is for two purposes:

1. [Providing a home for widely used packages that are no longer maintained](https://github.com/elm-community/Manifesto/blob/745ff071228b98626426f4e766af22f4c2c4983d/README.md#package-maintenance)

2. [Community-Driven Documentation](https://github.com/elm-community/Manifesto/blob/745ff071228b98626426f4e766af22f4c2c4983d/README.md#com

[2017-05-30 15:35] BrianHicks commented on #74
I don't think `elm-community` should grow in scope. If a package is maintained by an individual, that's an indicator of ownership. It can also be an indicator of quality (for example, I'm likely to trust @rtfeldman's packages more than an author whose work I have not previously encountered.)

Random idea: trust has technical components as well; the package site could include authorship/maintainers

[2017-05-30 15:52] eeue56 commented on #74
No, being owned by an individual shows that there is no "defacto" approach. Most of all, `elm-community` packages show that they are _defacto_ package. For example, elm-test. The existence of `elm-community/elm-test` means that others don't need to approve of a given approach. `http` was moved to `elm-lang` because people felt that `evancz/elm-http` meant that it wasn't "official" in some sense of

[2017-05-30 16:32] rtfeldman commented on #74
I appreciate the value in "there is one way to do it," but I think we can do better than curating such a list by moving repositories into the `elm-community` GitHub organization.

One problem with that approach is that people come out with new packages that are better than existing ones. For example, I recommend [`abadi199/datetimepicker`](http://package.elm-lang.org/packages/abadi199/datetimepick

[2017-05-30 16:44] BrianHicks commented on #74
@eeue56 this is a really reasonable thing to point out. We obviously don't want to cause outages or split versions between an old (`evancz/elm-http`) and new (`elm-lang/http`) repos. I think this is part of the process solution. Mentorship is really important; I think it could alleviate the "disappearing maintainer" problem somewhat.

For the record, if I disappear please feel free to fork my repo

[2017-05-30 16:54] rtfeldman commented on #74
Yep, but that's true regardless of whether the recommendations are packages in an organization versus links in a curated list. 😄

[2017-05-30 18:09] BrianHicks commented on #74
Mmm, I could have communicated that better. What I mean is: it's really easy to recommend a package as the best when there's only one package. When there are two or more and we only recommend one, we have to change away. That could cause some tension. But really, this is just something to look out for.

This makes a lot of sense to me. I think it fits really nicely under the "community-driven docu

[2017-05-30 18:17] eeue56 commented on #74
Documentation about a recommended repo isn't going to go anywhere. It will end before it starts.

[2017-05-30 18:21] eeue56 commented on #74
This is true of _some_ things. For example, datepicker APIs. People need different things. I don't believe that there is "one way" to do a datepicker nicely. It's also _not_ something that requires a lot of community input. It's not the same as `create-elm-app`.

In order to make a new Elm project, there should be one way to do it. In the land of JS, the number of choices on how to start a project

[2017-05-30 18:22] eeue56 commented on #73
Yes this is a good idea and I've been meaning to do it for a while. Not in the mood atm the review this but I will when I get a chance.

[2017-05-30 18:49] Chadtech commented on #74
I really appreciate this discussion happening. In my short time in this github group, Ive found it's mission confusing. It's pleasing to see resolution on this topic.

I'm a bit critical of @rtfeldman 's proposal. I bet a group dedicated to curating a list of good packages would effectively be a discussion group. I bet such a group would have difficulty reaching conclusion, and the conclusions it

[2017-05-30 19:03] eeue56 commented on #73
Made in this: https://github.com/elm-community/Manifesto/new/master thanks!

[2017-05-30 19:03] #73 closed

[2017-05-30 19:35] prikhi commented on #73
Yup, no problem. Although I was imagining it living in the `Moving a Repo to Elm-Community` section of the README(along with some text like `Please include the following checklist in your Pull Request:`). But if that's adding too much text, maybe include a link to the new file at the end of that section?

And it'd be helpful for it to be in code tags for easy copy & pasting into a PR:
[code]

But

[2017-05-30 19:37] eeue56 commented on #73
Yeah, I thought about that. But in the the past, when I've used checklists like that, I've found it hard to copy and paste when it gets bigger on some devices. This way we can just grab `raw` and copy and paste it as-is :)

[2017-05-30 22:36] rtfeldman commented on #74
Intuitively, the opposite would seem true. Why would less self-awareness yield a better outcome? 🤔

Suppose we changed the manifesto to say that part of the organization's purpose is to be a home for already-maintained repos that we decide are sufficiently high quality. Then suppose someone publishes a new repo and requests moving it into the `elm-community` organization.

How does the conversatio

[2017-05-31 00:26] Chadtech commented on #74
Sorry, maybe I was too out-there in my post; I didnt really connect that well with my own views or the core questions in this issue.

I basically agree with Noah. While maintaining packages is listed as a purpose of this group, it doesnt really make sense to me why dead or dying ones would be the only sort of package elm-community adopts. I read what Evan said about reputation. I thought was that

[2017-05-31 02:27] mgold commented on #74
Some projects, like testing frameworks, work best when there is only one of them and anyone so inclined can jump in and start contributing. This creates a community standard, avoid wheel reinvention, and keeps that standard open.

Other projects, like datepickers, need to have competing ideas and implementations so that we can figure out what works best. If we ever made a "works for everyone" date

[2017-05-31 06:30] avh4 commented on #74
Based on the current packages, I think this statement should be expanded to include packages where the original author can't or doesn't want to be the **full-time** maintainer.  That includes a lot more situations than "abandoned packages".  It can even include situations where the original author still actively uses and contributes to the package, but doesn't want to be the full-time maintainer.

[2017-05-31 09:24] eeue56 commented on #74
Agree with mgold and av, these are also my thoughts. In my mind, these _also_ include popular packages that need further direction. When I referred to mentoring on the Slack recently, I was thinking of situations as av describes. This is _not_ out of scope of what elm-community is _already doing_ and has done in the past. It just isn't documented.

[2017-05-31 10:18] Skinney commented on #74
tl;dr;
- The current scope of elm-community is good, but certain things can be made more clear.
- Are the rules for adopting new packages hard requirements, or guidelines for discussion?
- Elm-community is a single, trusted, entity. As such it should strive for one way of doing things, but be open to deviate from this rule of it makes sense.
- There should be a discussion if elm-community will sup

[2017-05-31 14:21] #69 closed

[2017-05-31 16:52] eeue56 commented on #74
@Skinney, fyi, your post has disappeared. I know Github had issues earlier, so

[2017-05-31 16:59] BrianHicks commented on #74
For the purposes of archival, here's what it was (from my inbox.) @Skinney I'm assuming that it's because of GH flakiness. If you meant to take it down, please ping me privately and I'll delete this comment.

I think it would be good to not forget, that elm-community is a sign of quality. Taking over, maintaining and improving the documentation of highly used, but unmaintained, packages is a side-

[2017-05-31 17:03] eeue56 commented on #74
@BrianHicks I deleted your post- Robin may have deleted it intentionally, so let's wait for them to reply before posting it (so as not to mis-represent anything)

[2017-05-31 21:23] robinheghan commented on #74
Hi, yes, I deleted the post intentionally. I read the "Getting Involved" section of the README just after I posted, and that gave me a different perspective on things. A couple of things I wrote didn't make sense to me anymore, so I figured I delete the post and think about things some more.

[2017-05-31 21:30] eeue56 commented on #74
FWIW: I've rewritten large chunks of the readme in the past, but there are some sections that are still from the infancy and old days of elm-community. It needs updating properly again, probably after we have resolved this.

[2017-06-01 16:06] prikhi commented on #74
*Written in a somewhat piecemeal fashion after possibly one too many cups of coffee...*

I gotta start off by saying I'm pretty biased... I live & work at a place called Acorn "Community" & I'm the tech/web guy for the Fellowship of Intentional "Communities" and the Federation of Egalitarian "Communities", so I've got a pretty loaded definition of "Community".

If someone asks me "what should Elm

[2017-06-01 17:23] eeue56 commented on #74
@prikhi, this explains the role of the assigned maintainer: https://github.com/elm-community/manifesto#the-role-of-a-maintainer

Generally, it is up to them to merge PRs. The exception is when they have not replied in several days and aren't responsive. See [this](https://github.com/elm-community/Manifesto/issues/16) issue for legacy info around this.

[2017-06-01 18:18] prikhi commented on #74
Edit: off-topic, see #75.

[2017-06-01 18:22] eeue56 commented on #74
@prikhi Please open a new issue with those thoughts, it is a bit off topic for this issue.

[2017-06-01 19:46] prikhi opened #75 "Guidelines for Changes to Repos Maintained by Others"
@elm-community/maintainers

I initially had these as comments to #74, but it's a bit off topic for that issue:

Just trying to gauge opinions on this & wondering if we can come up with a common list of reasons it would be OK to bypass the "make a PR & ping the maintainer" process when dealing with repositories that we don't maintain. Or possibly a list of repos whose maintainers are OK with more l

[2017-06-02 07:26] jaapz commented on #75
I don't think laying down lots of rules and exceptions for these kinds of things is really going to help much. Maybe a simple rule like "check with the official maintainer before doing stuff, if they don't respond within a reasonable time span, check with someone else in the elm-community group".

[2017-06-02 14:12] lukewestby opened #77 "Can someone take over primary responsibility for json-extra and/or builtwithelm?"
I know it's not a lot of work to just merge the occasional PR but that's the kind of thing I'm the worst at when pressed for time

[2017-06-02 14:14] zwilias commented on #77
I wouldn't mind taking over json-extra.

[2017-06-02 15:31] fredcy commented on #73
I'm confused by the third step, "An Elm-Community Repository Has Been Created". Shouldn't that be something more like "Move the existing repo from personal account to elm-community".

[2017-06-02 16:46] #77 closed

[2017-06-02 19:12] oldfartdeveloper commented on #75
I tend to agree w/ Jaap; let the maintainer know what you want to you want
to do.  The maintainer guidelines specify that the maintainer should check
no less frequently than every 5 days.

On Fri, Jun 2, 2017 at 12:26 AM, Jaap Broekhuizen <notifications@github.com>
wrote:

--
Scott Smith

http://twitter.com/_ofd (OldFartDeveloper)

[2017-06-03 02:43] lukewestby commented on #77
@zwilias @prikhi thank you both!

[2017-06-05 08:58] prikhi opened #81 "Elm Route Maintainer MIA"
It's been a while since @gjaldon has had any github activity, and the Elm Community version of `elm-route` hasn't been published yet: https://github.com/elm-community/elm-route

[This PR](https://github.com/elm-community/elm-route/pull/9) has been open for a while & I would merge it, but I don't want to change the readme if users can't run `elm package install elm-community/elm-route` yet.
And I d

[2017-06-05 17:26] eeue56 commented on #81
Ping @gjaldon

[2017-06-05 17:29] eeue56 commented on #81
Sent an email. Will wait a couple of days before moving onwards

[2017-06-06 08:48] gjaldon commented on #81
Hi @eeue56 and @prikhi! I'm still around and will look into publishing the Elm Community version of `elm-route` within the next 24 hours.

[2017-06-06 09:07] prikhi commented on #81
Awesome, thanks :)

[2017-06-11 16:13] prikhi commented on #81
@gjaldon polite bump

[2017-07-06 09:31] eeue56 opened #82 "Planning for 0.19 migration"

[2017-07-06 22:04] evancz commented on #82
Thanks for organizing this @eeue56!

I'll add the list of packages I felt should be considered for deprecation/moving:

[code]

I created this list by going through [this list](https://github.com/elm-community/Manifesto/blob/master/maintainers.md) and following my gut instinct about whether it "obviously makes sense" for them to be in the @elm-community org. In other words, these do not represent

[2017-07-07 00:11] mgold commented on #82
As the person who added `easing-functions`, I think we can deprecate it. Seems fine for it to be a personal (non-community) package.

[2017-07-07 08:01] eeue56 commented on #82
In the case of lazy-list, I think we will update it to be the pure-Elm version that I created, as it's required for elm-test, and it performs better anyway. A focus will be made on _laziness_, not on memoization, which will be a breaking changes for most people. I'd rather not have elm-test depend on personal packages. But maybe we can just inline those packages

For the webpack packages, I'm relu

[2017-07-07 23:20] bbqbaron commented on #82
`elm-datepicker` here. Especially given the more impressive [other datepicker](https://github.com/abadi199/datetimepicker/tree/3.0.4) I've seen out there, having a datepicker doesn't seem like a "standard lib" kind of thing, even for a UI focused lang (given how many ways one can make such a thing). Totally fine moving/deprecating.

[2017-07-09 16:56] mgold commented on #82
Here's the plan for elm-test: https://github.com/elm-community/elm-test/issues/191

[2017-10-29 22:25] eeue56 commented on #81
@prikhi Do you want to take over?

[2019-10-10 06:52] cynic opened #94 "Result-Extra maintainer MIA?"
I've just put in a PR for Result-Extra and have noticed 4 other PRs open since around May 2017 with no comment or resolution.  Does anyone know where @abadi199 is?

[2019-10-16 22:29] prikhi commented on #94
I'd be down to take over or co-maintain the package.

[2019-10-18 07:56] cynic commented on #94
I'd be down to take over or co-maintain it, too, if it comes to that!  The 7 days mentioned in the Manifesto have passed... so, does anyone know what the next step on the path to getting Result-Extra maintained is?

[2019-10-18 15:21] abadi199 commented on #94
Hi everyone, sorry about this. I really don't have time be the maintainer of this package anymore, so I'll step down. @prikhi and @cynic, just open a PR, remove me, and add yourself on https://github.com/elm-community/Manifesto/blob/master/maintainers.md, and I'll approve it.

[2019-10-18 15:45] cynic commented on #94
Great, thanks @abadi199 !  @prikhi , I'll drop my name in on Monday if you haven't submitted a PR by then 😄 .

[2019-10-18 20:27] #94 closed

[2021-02-09 22:02] pravdomil opened #101 "Looking for maintainers for Code128"
Repository: https://github.com/pravdomil/code128
Can it be moved into elm-community?

[2021-02-20 17:07] #15 closed

[2021-02-20 23:34] #75 closed

[2021-07-26 16:29] #101 closed

[2021-12-03 04:35] dullbananas opened #103 "Adopt dullbananas/elm-touch"
Could this be moved into elm-community?

https://github.com/dullbananas/elm-touch

[2022-09-06 11:20] turboMaCk commented on #82
This issue is pretty old at this point. I wonder if there are some actions planned. It seems to me that elm-community overall is fading a bit which I find unfortunate. I think it would be valuable to have active organization maintaining hi-quality (and consistent) extensions for core.

I also agree that phasing some libraries outside of elm-community might be right move. Especially given how chall

[2022-09-06 11:25] turboMaCk commented on #63
This issue feels outdated given GH actions seems to be taking over and since elm is coupled with GH It would make more sense to have issue for that rather than Travis at this point.